.vehicle-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  background: #f2f4f7;
  color: #475467;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  h2, p { margin: 0; }

  .vehicle-details__content {
    border: 1px solid #dce0e6;

    & + & { border-top: 0; }
  }

  header {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 12px;
  }

  .vehicle-illustration {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vehicle-name {
    text-transform: capitalize;
  }

  .vehicle-plate b {
    text-transform: uppercase;
  }

  .vehicle-status {
    text-transform: capitalize;
    border-radius: 17px;
    padding: 4px 16px;

    --_color: var(--color, #000);
    color: var(--_color);

    display: inline-block;
    align-self: flex-start;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--_color);
      opacity: 0.1;
    }
  }
}

@media (max-width: 769px) {
  .vehicle-details {
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 16px 16px 0 0;

    header {
      border-radius: 16px 16px 0 0;
      padding: 16px;
      padding-bottom: 0;
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;

      padding: 16px;
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 768px) {
  .vehicle-details {
    top: 108px;
    left: 24px;

    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 10px 28px 7px rgba(4, 117, 105, 0.08),
      0px 8px 8px -4px rgba(16, 24, 40, 0.03);

    .vehicle-details__content {
      padding: 12px;
      min-width: 326px;

      &:first-of-type {
        border-radius: 8px 8px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 8px 8px;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
